<%- include ('partials/header.ejs');  -%>
	<div class="sidebar">
		<div class="sidebar_wrapper">
			<a href="#"> Registrierungen </a>
			<a href="#"> Buchungen</a>
			<a href="#"> Forderungen </a>
			<a href="#"> Zahlungen </a>
			<a href="/tagung"> Tagungsprogramm </a>
			<a href="/login"> Logout </a>
		</div>
	</div>
	<div class="main">
		<div class="text">
			<h1>Willkommen im Verwaltungsbereich</h1>
			<p>Sie haben sich als Mitarbeiter angemeldet und haben die Berechtigung diesen Bereich zu verwalten</p>
		</div>
	</div>
</div>

<%- include ('partials/footer.ejs');  -%>